.monkey-image {
    max-width: 200px;
    /* Adjust this value as needed */
    height: auto;
}

.game-board {
    position: relative;
    width: 100%;
    height: calc(80vh - 160px);
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}