.monkey-image {
    max-width: 200px;
    z-index: 1;
    height: auto;
    position: relative;
}

.monkey-standing {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: relative;
}

.monkey-jumping {
    z-index: -1;
    width: 100%;
    height: 100%;
    animation: jump 2s infinite;
    position: relative;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

.gun-animation-1 {
    animation: gun-animation-1 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes gun-animation-1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20vw);
    }
}

.gun-animation-2 {
    animation: gun-animation-2 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes gun-animation-2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-40vw);
    }
}

.gun-animation-3 {
    animation: gun-animation-3 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes gun-animation-3 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-60vw);
    }
}

.gun-animation-4 {
    animation: gun-animation-4 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes gun-animation-4 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-80vw);
    }
}

.banana-rain {
    z-index: 2;
    position: absolute;
}